.dropdown {
    position: relative;
    min-width: 145px;

    .dropdown-header {
        border: 1px solid rgba(33, 56, 113, 0.5);
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 600;
        padding-right: 34px;
        height: 44px;

        b{
            color: #212228;
            font-weight: 600;
        }
    }

    .dropdown-body {
        color: #212228;
        width: 100%;
        position: absolute;
        font-size: 1.2rem;
        left: 0px;
        top: 46px;
        background: #FFFFFF;
        border-radius: 4px;
        border: 1px solid rgba(33, 56, 113, 0.5);
        display: none;
        z-index: 1;
      }
      
      .dropdown-body.open {
        display: block;
      }
      
      .dropdown-item {
        padding: 9px 14px;
      }
      
      .dropdown-item:hover {
        cursor: pointer;
        background: #F1F1F1 !important;
      }

      .dropdown-item.active {
        color: #212228;
        font-weight: 600;
        background-color: transparent;
      }
      
      .icon {
        width: 20px;
        position: absolute;
        right: 13px;
        top: 14px;
        transform: rotate(-90deg);
      }
      
      .icon.open {
        transform: rotate(180deg);
      }
}