$space-grotesk-font: 'Space Grotesk', sans-serif;
$titillium-web-font: 'Titillium Web', sans-serif;

$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px; 